@model userprofile.Models.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Calm breeze login screen</title>

<style>
    .wrapper {
        margin-top:200px;
    }
</style>
    <meta charset="UTF-8">
<link rel="stylesheet" href="~/Content/login.css">
</head>
<body>
   
       @Html.ActionLink("API", "Index", "Help", new { area = "" }, null)
</body>
</html>