@model userprofile.Models.logindetialViewModel
@{
    Layout = "";
}

<a href="@Url.Action("Details", new { id = Model.UserName })">
    <img src="@Url.Content(Model.photo)" class="img-circle" width="40" height="40" alt="User Image">
</a>


