@model userprofile.Models.SPORT

@{
    ViewBag.Title = "Details of the sport";
}


<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body">

                @Html.ActionLink("Edit", "Edit", new { id = Model.name }, new { @class = "btn btn-warning pull-right" })
                
                <hr />


                <dl class="dl-horizontal" hidden>
                    <dt>
                        @Html.DisplayNameFor(model => model.status)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.status)
                    </dd>

                </dl>
            </div>
          </div>
        </div>
    </div>
