@model userprofile.Models.SelectRoleEditorViewModel


        
 <div class="checkbox">
   @Html.HiddenFor(model => model.RoleName)
    <label>
        <input type="checkbox">
       @Html.CheckBoxFor(model => model.Selected)

@Html.DisplayFor(model => model.RoleName)
    </label>
</div>