@model userprofile.Models.SelectQualEditorViewModel




<div class="checkbox">
    @Html.HiddenFor(model => model.qualName)
    <label>
        <input type="checkbox">
       <b> @Html.CheckBoxFor(model => model.Selected)</b>

        @Html.DisplayFor(model => model.qualName)
        @Html.TextBoxFor(model => model.qlevel, new { min = "0",max="4" ,type = "number" })
    </label>
</div>