@model userprofile.Models.LOCATION

@{
    ViewBag.Title = "Map";
    ViewBag.TitleSmall = "Your position";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
           
           
            <div class="box-body">
               
                <hr />
                @using (Html.BeginForm())
                {
                    @Html.EditorForModel();
                    @Html.AntiForgeryToken()
                    
                    <div class="form-horizontal">

                        
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                           
                        </div>

                    </div>
                }
                
</div>
</div>
</div>
</div>