body {

}

@media only screen and (max-device-width: 480px) {


         .pagination>li:first-of-type a, .pagination>li:last-of-type a {
    display:none;
    width: 7em;
   
    }

   
    


    .per_page{
        display:none;
    }

    div.dataTables_filter input {
    width: 8em;
}
    #buttongroup_import {
        display:none;
    }

    #File_forPC{
        display:none;
    }

    #map_field_pc_mobile{
        width:250px;
    }

    #us3{
        width:210px; 
        height:160px;
    }

    #map_box {
        height:200px;
    }

     #map_box2 {
        height:430px;
    }

     #map_field_pc_mobile2{
        width:250px;
    }
}