@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
    {
    @Html.AntiForgeryToken()

    <li class="user-header">
       
        <p style="text-align:center">
            
                @Html.ActionLink("Manage My Account", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage",@styles="color:white"})
               
</p>
        
                   
     </li>

    <li class="user-body">
        
        <div class="col-xs-12 text-center">
        @Html.Action("showhead_Icon", "Account", new { id = User.Identity.GetUserName() })
        </div>
              
        
    </li>



    <li class="user-footer">
        <div class="col-xs-12 text-center box-solid">
            <div class="box-body">
            <a class="btn btn-danger" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </div>
        </div>
       
    </li>




    }
}
else
{
     <li class="user-header">
       
        <p style="text-align:center">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
         </li>
}

<style>
    .user-header > p > a {
        color:white;
    }
    .user-footer > div > a {
        color:white;
    }
</style>