
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@*<div>
    <a class="btn btn-default" href="@Url.Action( "showresults","Algorithm")">
        Algorithm
    </a>
</div>

<div>
    <a class="btn btn-default" href="@Url.Action( "showTestResults","Algorithm")">
        Algorithm Test 
    </a>
</div>*@