@model IEnumerable<userprofile.Models.OneOffAVAILABILITY>
@{
    ViewBag.Title = "Index";
}
<script type="text/javascript">
    $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false
        });
    });
</script>
<div class="row">

    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">

            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Start Date
                                   
                                </th>
                                <th>
                                    Time on or off
                                   
                                </th>
                                <th>
                                    Description
                                </th>
                                
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.startDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.timeOnOrOff)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.description)
                                    </td>
                                    
                                    <td>
                                       
                                        @Html.ActionLink("Delete", "Delete", new { id = item.refId,start=item.startDate })
                                    </td>
                                </tr>
                            }
                        </tbody>
</table>
</div>
</div>
</div>
</div>
</div>