
@{
    ViewBag.Title = "Index";
}


<script src="~/Scripts/AdminLTE/plugins/switch/bootstrap-switch.js" type="text/javascript"></script>
<link href="~/Scripts/AdminLTE/plugins/switch/bootstrap-switch.css" rel="stylesheet" type="text/css">
<style>
    /* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
.content.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
.content.loading .modal {
    display: block;
}

</style>
@*<div>
    <a class="btn btn-default" href="@Url.Action( "showresults","Algorithm")">
        Algorithm
    </a>
</div>

<div>
    <a class="btn btn-default" href="@Url.Action( "showTestResults","Algorithm")">
        Algorithm Test 
    </a>
</div>*@
<div class="box box-info content">
    <div class="box-header with-border">
        <h3 class="box-title">Privacy setting</h3>
    </div><!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal">
        <div class="box-body">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">Referee Can View Other Referees</label>
                <div class="col-sm-8">
                    <input type="checkbox" name="my-checkbox" checked>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-4 control-label">Referee Can View Other Offers</label>
                <div class="col-sm-8">
                    <input type="checkbox" name="my-checkbox" checked>
                </div>
            </div>
          
        </div><!-- /.box-body -->
        <div class="box-footer">
            
            <button type="submit" class="btn btn-info pull-right">Submit</button>
        </div><!-- /.box-footer -->
    </form>
</div>
<div class="box box-success" >
    <div class="box-header with-border">
        <h3 class="box-title">Smart assign </h3>
    </div><!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal">
        <div class="box-body">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-4 control-label">use algorithm to assign all empty offer</label>
                <div class="col-sm-8">
                    <input type="checkbox" name="my-checkbox" id="assignAll" checked>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-4 control-label">algorithm running time span</label>
                <div class="col-sm-8">
                    <input type="text" name="daterange" class="form-control" size="50" value="01/01/2015 1:30 PM - 01/01/2015 2:00 PM" /><br />
                </div>
            </div>

        </div><!-- /.box-body -->
        <div class="box-footer">

            <button type="button" onclick="runsmartassgin()" class="btn btn-success btn-lg  pull-right">RUN smart assign</button>
        </div><!-- /.box-footer -->
    </form>
</div>
<div class="box box-success result">
    <div class="box-header with-border">
        <h3 class="box-title">Smart assign Result</h3>
    </div><!-- /.box-header -->
    <!-- form start -->
   
</div>
<div class="modal"><!-- Place at bottom of page --></div>
    <script>
        $body = $(".content");
        $(document).on({
            ajaxStart: function () { $body.addClass("loading"); },
            ajaxStop: function () { $body.removeClass("loading"); }
        });
        $(function () {
            $('input[name="daterange"]').daterangepicker({
                timePicker: false,
                
                locale: {
                    format: 'MM/DD/YYYY'
                }
            });
        });
        function runsmartassgin() {
            var start = $('input[name="daterange"]').data('daterangepicker').startDate.format('MM/DD/YYYY');
            var end = $('input[name="daterange"]').data('daterangepicker').endDate.format('MM/DD/YYYY');
            var assignAll = false;
            if ($('#assignAll').val() == "on") {
                assignAll = true;
            } else {
                assignAll = false;
            }
            @*$.ajax({
                type: "POST",
                url: "@Url.Action("showResults", "Algorithm")",
           
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(
                    {
                        'assignAll': assignAll,
                        'startDate': start,
                        'endDate': end
                    }
        ),
                success: function (data) { $(".result").html(data); },
            failure: function (errMsg) {
                alert(errMsg);
            }
        });*@
            $.post("./showresults", {
                'assignAll': assignAll,
                'startDate': start,
                'endDate': end
            })
  .done(function (data) {
      $(".content").html(data);
  });
        }
        $("[name='my-checkbox']").bootstrapSwitch();
    </script>
