@model userprofile.Models.WEEKLYAVAILABILITY
@{
    ViewBag.Title = "Availability";
}

<h2>Availability</h2>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Weekly Availability</div>

    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>wed</th>
                <th>thur</th>
                <th>fri</th>
                <th>satur</th>
                <th>sun</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">8-12</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@@mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@@mdo</td>
                <td>@@mdo</td>
            </tr>
            <tr>
                <th scope="row">12-16</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@@fat</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@@mdo</td>
                <td>@@mdo</td>
            </tr>
            <tr>
                <th scope="row">16-20</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@@twitter</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>@@mdo</td>
                <td>@@mdo</td>
            </tr>

        </tbody>
    </table>
</div>
