@model userprofile.Models.WEEKLYAVAILABILITYViewModel
@{
    ViewBag.Title = "Availability";
}

<h2>Availability</h2>
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Weekly Availability</div>

    <!-- Table -->
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>wed</th>
                <th>thur</th>
                <th>fri</th>
                <th>satur</th>
                <th>sun</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">8-12</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
                <td>mdo</td>
            </tr>
            <tr>
                <th scope="row">12-16</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>fat</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
                <td>mdo</td>
            </tr>
            <tr>
                <th scope="row">16-20</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>twitter</td>
                <td>Mark</td>
                <td>Otto</td>
                <td>mdo</td>
                <td>mdo</td>
            </tr>

        </tbody>
    </table>
    
</div>
<button type="button" class="btn btn-default btn-lg" id="save">
    <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save changes
</button>
@section Scripts{
    <script>
        $(function () { 
            var availaArray= JSON.parse('@Html.Raw(Json.Encode(Model.moment))');
            $("td").each(function () {
                
                var col = $(this).parent().children().index($(this))-1;
                var row = $(this).parent().parent().children().index($(this).parent());
                $(this).text(col + " " + row);
                if (availaArray[col][row] == true) {
                    $(this).css("background-color", "blue");
                } else {

                    $(this).css("background-color", "red");
                }
           
            });
            $('td').click(function () {
                var col = $(this).parent().children().index($(this)) - 1;
                var row = $(this).parent().parent().children().index($(this).parent());
                if (availaArray[col][row] == true) {
                    $(this).css("background-color", "red");
                    availaArray[col][row] = false;
                } else {
                    availaArray[col][row] = true;
                    $(this).css("background-color", "blue");
                }
            })
            $('#save').click(function () {
                var WEEKLYAVAILABILITYViewModel = {  "moment": availaArray  };
                $.ajax({
                    url: "@Url.Content("~/REFEREE/Availability")",
                    data: JSON.stringify(WEEKLYAVAILABILITYViewModel),
                type: 'POST',
                contentType: 'application/json'
            });
            })
        })
    </script>
    
    }
