@model userprofile.Models.selectRefQuliEditViewModel
@{
    ViewBag.Title = "changequal";
}

<h2>changequal</h2>

@using (Html.BeginForm("changequal", "REFEREE", FormMethod.Post, new { encType = "multipart/form-data", name = "myform" }))
{
     @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
     @Html.HiddenFor(model => model.refeid)
@Html.EditorFor(model => model.quals)
    <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
}